<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <%- include ("partials/navbar") %>
    <h1>Hello This is welcome Page we are going to send data by Html file <%= user  %> ?</h1>
</body>
</html>